USE [master]
GO
/****** Object:  Database [FEUNML]    Script Date: 2020/10/24 上午 01:53:58 ******/
CREATE DATABASE [FEUNML]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FEUNML', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FEUNML.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FEUNML_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FEUNML_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FEUNML].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FEUNML]
GO
/****** Object:  Table [dbo].[place]    Script Date: 2020/10/24 上午 01:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[place](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[longitude] [decimal](11, 8) NOT NULL,
	[latitude] [decimal](11, 8) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[type] [nvarchar](max) NULL,
	[gmap_id] [nvarchar](max) NULL,
	[photo] [varbinary](max) NULL,
 CONSTRAINT [PK__place__3213E83FF0E1D439] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[placeList]    Script Date: 2020/10/24 上午 01:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[placeList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[privacy] [varchar](255) NOT NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NULL,
	[cover] [varbinary](1) NULL,
 CONSTRAINT [PK__placeLis__3213E83FB7C38A0F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[placeRelation]    Script Date: 2020/10/24 上午 01:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[placeRelation](
	[place_id] [int] NOT NULL,
	[placeList_id] [int] NOT NULL,
	[created] [datetime] NULL,
 CONSTRAINT [PK__placeRel__F7DCF25635F50E0E] PRIMARY KEY CLUSTERED 
(
	[place_id] ASC,
	[placeList_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tag]    Script Date: 2020/10/24 上午 01:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK__tag__3213E83FEED76E4D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tagEvent]    Script Date: 2020/10/24 上午 01:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tagEvent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[tag_id] [int] NULL,
	[event] [int] NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_tagEvent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tagRelation]    Script Date: 2020/10/24 上午 01:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tagRelation](
	[place_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK__tagRelat__C5BBBC5677E7CF1F] PRIMARY KEY CLUSTERED 
(
	[place_id] ASC,
	[tag_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2020/10/24 上午 01:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[authority] [int] NOT NULL,
	[updated] [datetime2](0) NULL,
	[created] [datetime2](0) NULL,
 CONSTRAINT [PK__users__3213E83FF1B91C88] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[拉麵清單50-工作表1]    Script Date: 2020/10/24 上午 01:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[拉麵清單50-工作表1](
	[f1] [nvarchar](255) NULL,
	[店名] [nvarchar](255) NULL,
	[地址] [nvarchar](255) NULL,
	[營業時間] [nvarchar](255) NULL,
	[Info] [nvarchar](255) NULL,
	[標籤1] [nvarchar](255) NULL,
	[標籤2] [nvarchar](255) NULL,
	[標籤3] [nvarchar](255) NULL,
	[標籤4] [nvarchar](255) NULL,
	[標籤5] [nvarchar](255) NULL,
	[標籤6] [nvarchar](255) NULL,
	[標籤7] [nvarchar](255) NULL,
	[標籤8] [nvarchar](255) NULL,
	[標籤9] [nvarchar](255) NULL,
	[標籤10] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[place] ON 

INSERT [dbo].[place] ([id], [name], [longitude], [latitude], [phone], [address], [type], [gmap_id], [photo]) VALUES (1, N'PlaceA', CAST(121.22000000 AS Decimal(11, 8)), CAST(21.81000000 AS Decimal(11, 8)), NULL, NULL, NULL, N'A001', NULL)
INSERT [dbo].[place] ([id], [name], [longitude], [latitude], [phone], [address], [type], [gmap_id], [photo]) VALUES (2, N'PlaceB', CAST(122.07000000 AS Decimal(11, 8)), CAST(22.31500000 AS Decimal(11, 8)), NULL, NULL, NULL, N'BA02', NULL)
INSERT [dbo].[place] ([id], [name], [longitude], [latitude], [phone], [address], [type], [gmap_id], [photo]) VALUES (3, N'PlaceC', CAST(122.04500000 AS Decimal(11, 8)), CAST(22.31510000 AS Decimal(11, 8)), NULL, NULL, NULL, N'CC01', NULL)
SET IDENTITY_INSERT [dbo].[place] OFF
GO
SET IDENTITY_INSERT [dbo].[placeList] ON 

INSERT [dbo].[placeList] ([id], [user_id], [name], [description], [privacy], [created], [updated], [cover]) VALUES (1, 2, N'Secrete Corner', N'Secrete', N'0', CAST(N'2020-10-17T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[placeList] ([id], [user_id], [name], [description], [privacy], [created], [updated], [cover]) VALUES (2, 3, N'Test Place', N'Test', N'1', CAST(N'2020-10-25T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[placeList] ([id], [user_id], [name], [description], [privacy], [created], [updated], [cover]) VALUES (3, 3, N'Some Place', N'HiHi', N'0', CAST(N'2020-10-25T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[placeList] OFF
GO
INSERT [dbo].[placeRelation] ([place_id], [placeList_id], [created]) VALUES (1, 2, NULL)
INSERT [dbo].[placeRelation] ([place_id], [placeList_id], [created]) VALUES (1, 3, NULL)
INSERT [dbo].[placeRelation] ([place_id], [placeList_id], [created]) VALUES (2, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[tag] ON 

INSERT [dbo].[tag] ([id], [name], [type]) VALUES (1, N'Funny', 1)
INSERT [dbo].[tag] ([id], [name], [type]) VALUES (2, N'Interesting', 1)
INSERT [dbo].[tag] ([id], [name], [type]) VALUES (3, N'Boring', 2)
SET IDENTITY_INSERT [dbo].[tag] OFF
GO
INSERT [dbo].[tagRelation] ([place_id], [tag_id], [user_id], [created]) VALUES (1, 1, 2, CAST(N'2020-10-10T00:00:00.000' AS DateTime))
INSERT [dbo].[tagRelation] ([place_id], [tag_id], [user_id], [created]) VALUES (1, 2, 2, CAST(N'2020-10-12T00:00:00.000' AS DateTime))
INSERT [dbo].[tagRelation] ([place_id], [tag_id], [user_id], [created]) VALUES (2, 1, 2, CAST(N'2020-10-13T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [name], [email], [password], [authority], [updated], [created]) VALUES (2, N'test', N'test', N'test', 123, CAST(N'2020-10-06T12:31:03.0000000' AS DateTime2), CAST(N'2020-10-06T12:31:05.0000000' AS DateTime2))
INSERT [dbo].[user] ([id], [name], [email], [password], [authority], [updated], [created]) VALUES (3, N'Alpha', N'alpha@email.com', N'123', 1, CAST(N'2020-10-24T00:00:00.0000000' AS DateTime2), CAST(N'2020-10-24T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[user] ([id], [name], [email], [password], [authority], [updated], [created]) VALUES (4, N'Beta', N'beta@email.com', N'123223', 1, CAST(N'2020-10-25T00:00:00.0000000' AS DateTime2), CAST(N'2020-10-25T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[user] OFF
GO
INSERT [dbo].[拉麵清單50-工作表1] ([f1], [店名], [地址], [營業時間], [Info], [標籤1], [標籤2], [標籤3], [標籤4], [標籤5], [標籤6], [標籤7], [標籤8], [標籤9], [標籤10]) VALUES (N'1', N'辣麻味噌沾麵 鬼金棒(總店沾麵部)', N'台北市中山區中山北路一段94號', N'週一-五 12:00–14:00、17:00–20:30 週六-日 12:00–20:30', N'來自日本東京，口味在日本台灣都是自成一派的「辣麻味噌拉麵」。總店為沾麵專賣店，販賣品項為可調整辣度麻度的辣麻味噌沾麵以及博多豚骨拉麵。店主對於食材挑選極為用心，店內叉燒除了類似控肉的角煮外，也有低溫烹調的和牛及依比利豬叉燒可供選擇，白飯使用伊馬嵐池上米，博多豚骨拉麵使用杜蘭小麥。店內不時會有特殊限定，建議前往前先參考官方粉專。', N'拉麵', N'沾麵', N'辣味', N'麻味', N'味噌', N'豚骨', N'豚骨魚介', N'2019金賞', NULL, NULL)
INSERT [dbo].[拉麵清單50-工作表1] ([f1], [店名], [地址], [營業時間], [Info], [標籤1], [標籤2], [標籤3], [標籤4], [標籤5], [標籤6], [標籤7], [標籤8], [標籤9], [標籤10]) VALUES (N'2', N'辣麻味噌拉麵 鬼金棒(總店拉麵部)', N'台北市中山區中山北路一段94號', N'週一-五 12:00–14:00、17:00–20:30 週六-日 12:00–20:31', N'來自日本東京，口味在日本台灣都是自成一派的「辣麻味噌拉麵」。本店為拉(湯)麵專賣店，販賣品項為可調整辣度麻度的辣麻味噌拉麵以及鬼金棒的豚骨拉麵。店內招牌的辣麻味噌拉麵是混合豚骨及魚介兩種湯底（目前夏日為豚雞魚介湯）再混入味噌，麵條也是三種不同麵條混合，叉燒則是類似控肉的角煮，在在顯露出強烈的自我風格。店內不時會有特殊限定，建議前往前先參考官方粉專', N'拉麵', N'辣味', N'麻味', N'味噌', N'豚骨', N'豚骨魚介', N'2019金賞', NULL, NULL, NULL)
INSERT [dbo].[拉麵清單50-工作表1] ([f1], [店名], [地址], [營業時間], [Info], [標籤1], [標籤2], [標籤3], [標籤4], [標籤5], [標籤6], [標籤7], [標籤8], [標籤9], [標籤10]) VALUES (N'3', N'辣麻味噌拉麵 鬼金棒(松江南京店)', N'台北市中山區松江路123巷8-2號', N'11:30–14:00、17:00–20:30', N'來自日本東京，口味在日本台灣都是自成一派的「辣麻味噌拉麵」。南京松江店為拉(湯)麵專賣店，販賣品項為可調整辣度麻度的辣麻味噌拉麵以及鬼金棒的豚骨拉麵。與中山店不同的是店內的辣麻味噌拉麵是只使用豚骨單一湯底再混入味噌，麵條也是單一的粗麵，叉燒則是類似控肉的角煮，是最接近日本本店的味道。麻辣的程度也是三店之冠，角煮也是最為穩定且大塊的一家分店。', N'拉麵', N'辣味', N'麻味', N'味噌', N'豚骨', N'2019金賞', NULL, NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__place__name]    Script Date: 2020/10/24 上午 01:53:59 ******/
ALTER TABLE [dbo].[place] ADD  CONSTRAINT [UQ__place__name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tag__name]    Script Date: 2020/10/24 上午 01:53:59 ******/
ALTER TABLE [dbo].[tag] ADD  CONSTRAINT [UQ__tag__name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Email]    Script Date: 2020/10/24 上午 01:53:59 ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[placeList]  WITH CHECK ADD  CONSTRAINT [fk_placeList_user_1] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[placeList] CHECK CONSTRAINT [fk_placeList_user_1]
GO
ALTER TABLE [dbo].[placeRelation]  WITH CHECK ADD  CONSTRAINT [fk_placeRelation_place_1] FOREIGN KEY([place_id])
REFERENCES [dbo].[place] ([id])
GO
ALTER TABLE [dbo].[placeRelation] CHECK CONSTRAINT [fk_placeRelation_place_1]
GO
ALTER TABLE [dbo].[placeRelation]  WITH CHECK ADD  CONSTRAINT [fk_placeRelation_placeList_1] FOREIGN KEY([placeList_id])
REFERENCES [dbo].[placeList] ([id])
GO
ALTER TABLE [dbo].[placeRelation] CHECK CONSTRAINT [fk_placeRelation_placeList_1]
GO
ALTER TABLE [dbo].[tagEvent]  WITH CHECK ADD  CONSTRAINT [fk_tagEvent_tag_1] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tag] ([id])
GO
ALTER TABLE [dbo].[tagEvent] CHECK CONSTRAINT [fk_tagEvent_tag_1]
GO
ALTER TABLE [dbo].[tagEvent]  WITH CHECK ADD  CONSTRAINT [fk_tagEvent_user_1] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[tagEvent] CHECK CONSTRAINT [fk_tagEvent_user_1]
GO
ALTER TABLE [dbo].[tagRelation]  WITH CHECK ADD  CONSTRAINT [fk_tagRelation_place_1] FOREIGN KEY([place_id])
REFERENCES [dbo].[place] ([id])
GO
ALTER TABLE [dbo].[tagRelation] CHECK CONSTRAINT [fk_tagRelation_place_1]
GO
ALTER TABLE [dbo].[tagRelation]  WITH CHECK ADD  CONSTRAINT [fk_tagRelation_tag_1] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tag] ([id])
GO
ALTER TABLE [dbo].[tagRelation] CHECK CONSTRAINT [fk_tagRelation_tag_1]
GO
ALTER TABLE [dbo].[tagRelation]  WITH CHECK ADD  CONSTRAINT [fk_tagRelation_user_1] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[tagRelation] CHECK CONSTRAINT [fk_tagRelation_user_1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'序號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'place', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'place', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'經度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'place', @level2type=N'COLUMN',@level2name=N'longitude'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'緯度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'place', @level2type=N'COLUMN',@level2name=N'latitude'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'電話' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'place', @level2type=N'COLUMN',@level2name=N'phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'place', @level2type=N'COLUMN',@level2name=N'address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'類型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'place', @level2type=N'COLUMN',@level2name=N'type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'googleAPI ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'place', @level2type=N'COLUMN',@level2name=N'gmap_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Google取得圖片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'place', @level2type=N'COLUMN',@level2name=N'photo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'序號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeList', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'使用者ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeList', @level2type=N'COLUMN',@level2name=N'user_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeList', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文章' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeList', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'權限 0=公開 1=私有' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeList', @level2type=N'COLUMN',@level2name=N'privacy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'創建時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeList', @level2type=N'COLUMN',@level2name=N'created'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeList', @level2type=N'COLUMN',@level2name=N'updated'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地點圖片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeList', @level2type=N'COLUMN',@level2name=N'cover'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地方編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeRelation', @level2type=N'COLUMN',@level2name=N'place_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'清單編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'placeRelation', @level2type=N'COLUMN',@level2name=N'placeList_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'紀錄使用者事件。 0: 點擊篩選 1:取消篩選   2: 加入標籤 3:  取消標籤' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tagEvent', @level2type=N'COLUMN',@level2name=N'event'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'觸發時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tagEvent', @level2type=N'COLUMN',@level2name=N'created'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'序號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'電郵(帳號)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0=管理者 1=一般 2=刪除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'authority'
GO
USE [master]
GO
